<?xml version='1.0' encoding='utf-8'?>
<widget id="com.my_huissier.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>My huissier mobile</name>
    <description>
        Mobile application for my-huissier project
    </description>
    <author email="rakotonoelysitraka@gmail.com" href="#">
        Sitraka Lalaina RAKOTONOELY
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="camera:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash src="res/android/drawable-hdpi/background.9.png" density="port-hdpi"/>
        <splash src="res/android/drawable-mdpi/background.9.png" density="port-mdpi"/>
        <splash src="res/android/drawable-xhdpi/background.9.png" density="port-xhdpi"/>
        <icon src="res/android/ic_ldpi.png" density="ldpi" />
        <icon src="res/android/ic_mdpi.png" density="mdpi" />
        <icon src="res/android/ic_hdpi.png" density="hdpi" />
        <icon src="res/android/ic_xhdpi.png" density="xhdpi" />
        <icon src="res/android/ic_xxhdpi.png" density="xxhdpi" />
        <icon src="res/android/ic_xxxhdpi.png" density="xxxhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="true" />
</widget>
